@import '_vars';

* {
    box-sizing: border-box;
}

a{
    text-decoration: none; 
    color: $color;                 
}

.header {
    background-image: url(../img/head-background.png);
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        max-width: 1366px;
        padding-left: 98px;
        padding-right: 98px;
        position: relative;
        margin: 0 auto;

        .logo_container{
            position: absolute;
            margin-top: 30px;
            text-align: center;

            .logo_title{
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 1px;
                color: #111111;
            }

            .logo_text{
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 4px;
                letter-spacing: 2px;
                color: #111111;
            }
        }

        .menu{
            float: right;

            li{
                display: inline-block;
                color: $color;
                font-family: $font;
                line-height: 67px;
                

                :hover{
                    text-transform: capitalize;
                    padding-bottom: 8px;
                    border-bottom: 2px solid $color; 
                }
            }

            a{
                text-transform: uppercase;
                color: $color;
            }
            .menu-home{
                position: absolute;
                right: 500px;
            }
            .menu-about{
                position: absolute;
                right: 400px;
            }
            .menu-services{
                position: absolute;
                right: 292px;
            }
            .menu-portfolio{
                position: absolute;
                right: 159px;
            }
            .menu-contect{
                position: absolute;
                right: 40px;
            }
        }
        .main-img{
            position: absolute;
            top: 100px;
            right: 0px;
            float: right;
        }
        .header_content{
            position: absolute;
            top: 265px;

            .header_content_title{
                font-family: $font;
                font-weight: 500;
                line-height: 67px;
                font-size: 90px;
                color: $color;
            }
            .header_content_text{
                font-family: $font;
                font-weight: 500;
                line-height: 67px;
                font-size: 22px;
                color: rgba(77, 77, 77, 0.541);
            }

            .btn-know{            
                color: $color;
                font-family: $font;
                font-size: 16px;
                line-height: 67px;
                letter-spacing: 0.6px;
                font-weight: 700;
                text-transform: uppercase;
                padding-left: 30px;
                padding-right: 30px;
                background-color: transparent;
                border: 1px solid $color;
                margin-right: 20px;
                box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
                outline: none;
                cursor: pointer;
            }

            .btn-know:hover{
                background-color: #ffffff;
                border: none;
            }
            
            .btn-hire{
                color: $color;
                font-family: $font;
                font-size: 16px;
                line-height: 67px;
                letter-spacing: 0.6px;
                font-weight: 700;
                text-transform: uppercase;
                padding-left: 50px;
                padding-right: 50px;
                background-color: transparent;
                border: 1px solid $color;
                margin-right: 20px;
                box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
                outline: none;
                cursor: pointer;
            }

            .btn-hire:hover{
                background-color: #ffffff;
                border: none;
            }
        }
        .go_bottom{
            width: 45px;
            height: 41px;
            background-color: #ffffff;
            box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
            border: none;
            position: absolute;
            top: 620px;
        }

        .go_bottom::after{
            font-family: 'icomoon';
            content: "\f107";
            font-size: 24px;
            left: 50%;
            transform: translateX(50%);
        }
    }
}
.about{
    min-height: 677px;
    .container{
        .about_content{
            max-width: 470px;
            float: left;
            padding-top: 200px;
            margin-left: 98px;
            margin-right: 130px;

            .about_title{
                max-width: 370px;
                font-family: $font;
                font-size: 46px;
                font-weight: 700;
                color: $color;
                line-height: 49px;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                position: relative;
            }

            .about_title::before{
                content: "";
                width: 70px;
                border-bottom: 4px solid $color;
                position: absolute;
                top: -13px;

            }

            .about_text{
                font-family: $font;
                font-size: 16px;
                font-weight: 400;
                color: $color;
                line-height: 26px;
            }

            .cv{
                margin-top: 41px;
                color: $color;
                font-family: $font;
                font-size: 16px;
                line-height: 67px;
                letter-spacing: 0.6px;
                font-weight: 700;
                text-transform: uppercase;
                padding-left: 50px;
                padding-right: 50px;
                background-color: #ffffff;
                border: 1px solid $color;
                outline: none;
            }
        }
        .about_img{
            position: absolute;
            right: 98px;
            top: 861px;
        }
    }    
}
.services{
    min-height: 693px;
    background-color: #f6f6f6;

    .title{
        font-family: $font;
        font-size: 46px;
        line-height: 49px;
        letter-spacing: 1.2px;
        font-weight: 700;
        color: $color;
        text-align: center;
        text-transform: uppercase;
        padding-top: 141px;
        margin-bottom: 70px;
        position: relative;
    }
    .title::before{
        content: "";
        width: 60px;
        border-bottom: 4px solid $color;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 120px;
    }
    .row{
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-wrap: wrap;
        
        .col-3{
            max-width: 200px;
            min-height: 200px;
            text-align: center;
            margin-left: 85px;
            margin-right: 85px;
            margin-bottom: 70px;
            flex-grow: 1;
            
            .service-img{
                min-height: 100px;
                margin-bottom: 30px;
            }

            .col-title{
                font-family: $font;
                font-size: 24px;
                line-height: 49px;
                font-weight: 500;
                color: $color;
                text-align: center;
                text-transform: capitalize;
                display: flex;
                align-self: flex-end;
                margin-bottom: 30px;
                text-align: center;
            }
        }
    }
}
.skills{
    min-height: 767px;
    position: relative;

    .skills_title{
        font-family: $font;
        font-size: 46px;
        line-height: 49px;
        letter-spacing: 1.2px;
        font-weight: 700;
        color: $color;
        text-align: center;
        text-transform: uppercase;
        padding-top: 141px;
        margin-bottom: 70px;
        position: relative;
    }
    .skills_title::before{
        content: "";
        width: 60px;
        border-bottom: 4px solid $color;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 120px;
    }
    .skills-img{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.portfolio{
    min-height: 1096px;
    background-color: #f6f6f6;
    position: relative;

    .container{
        max-width: 1366px;
        padding-left: 98px;
        padding-right: 98px;
        position: relative;
        margin: 0 auto;

        .portfolio_title{
            font-family: $font;
            font-size: 46px;
            line-height: 49px;
            letter-spacing: 1.2px;
            font-weight: 700;
            color: $color;
            text-align: center;
            text-transform: uppercase;
            padding-top: 141px;
            margin-bottom: 70px;
            position: relative;
        }
        .portfolio_title::before{
        content: "";
            width: 60px;
            border-bottom: 4px solid $color;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 120px;
        }
        .row{
            display: block;
            &::after{
                content: "";
                clear: both;
            } 
        }
    
        .col-3{
            width: 33.333%;
            float: left;
            margin-bottom: 30px;
                
        }
        .more{
            color: $color;
            font-family: $font;
            font-size: 16px;
            line-height: 67px;
            letter-spacing: 0.6px;
            font-weight: 700;
            text-transform: uppercase;
            padding-left: 50px;
            padding-right: 50px;
            background-color: #ffffff;
            border: none;
            outline: none;
            cursor: pointer;
            box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 960px;
            right: 43%;
           
        }
    }
}

.testimonials{
    min-height: 1128px;

    .testimonials_title{
        font-family: $font;
        font-size: 46px;
        line-height: 49px;
        letter-spacing: 1.2px;
        font-weight: 700;
        color: $color;
        text-align: center;
        text-transform: uppercase;
        padding-top: 141px;
        margin-bottom: 70px;
        position: relative;
    }
    .testimonials_title::before{
        content: "";
        width: 60px;
        border-bottom: 4px solid $color;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 120px;
    }
    .slider_content{
        max-width: 955px;
        margin: 0 auto;
    }
    .slider_content-item{
        max-width: 955px;
        min-height: 349px;
        border: 1px solid $color;
        margin: 0 auto;
        position: relative;
        
        .slider-img{
            position: absolute;
            top: 82px;
            left: 121px;
        }
        .slider_content-item_text{
            max-width: 580px;
            position: absolute;
            top: 82px;
            right: 71px;

            .name{
                font-family: $font;
                color: $color;
                font-size: 30px;
                font-weight: 500;
            }
            .position{
                font-family: $font;
                color: $color;
                font-size: 12px;
                line-height: 29px;
                font-style: italic;
            }
            .slider_content_text{
                font-family: $font;
                color: rgba(77, 77, 77, 0.541);;
                font-size: 16px;
                line-height: 26px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
    
    .slider{
        
        .slick-dots{
            position: absolute;
            top: 290px;
            left: 50%;
            transform: translateX(-50%);
            
           
            li{
                display: inline-block;
                margin-left: 2px;
                margin-right: 2px;
                .slick-active{
                    background-color: #111111
                }
                button{
                    font-size: 0;
                    width: 13px;
                    height: 13px;
                    background-color: #ffffff;
                    padding: 0;
                    border: 1px solid #111111;
                    box-sizing: content-box;
                    outline: none;
                }
            }
        }
        .slick-dots li.slick-active button{
            background-color: #111111;
        }
    }
    .smth{
        background-color: #f6f6f6;
        min-height: 302px;
        margin-top: 102px;
        margin-bottom: 155px;
    }

    .col-4{
        width: 25%;
        float: left;
        text-align: center;
        margin-top: 54px;
            
        .smth-img{
            min-height: 100px;
            margin-bottom: 12px;
        }

        .number{
            font-family: $font;
            color: $color;
            font-size: 32px;
            line-height: 46px;
            font-weight: 500;
        }
        .smth-text{
            font-family: $font;
            color: $color;
            font-size: 32px;
            line-height: 46px;
            font-weight: 400;
            text-transform: uppercase;
             margin-bottom: 60px;
        }
    }  
}
.hello{
    min-height: 784px;
    background-image: url(../img/form-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .hello-title{
        font-family: $font;
        font-size: 46px;
        line-height: 49px;
        letter-spacing: 1.2px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        padding-top: 141px;
        margin-bottom: 70px;
        position: relative;
    }
    .hello-title::before{
        content: "";
        width: 60px;
        border-bottom: 4px solid #ffffff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 120px;
    }
    form{
        margin: 0 auto;
        max-width: 786px;

        .input-name{
            width: 370px;
            height: 61px;
            margin-right: 30px;
            margin-bottom: 27px;
            outline: none;
            text-transform: capitalize;
            font-family: $font;
            font-size: 16px;
            color: $color;
            letter-spacing: 0.6px;
            padding-left: 10px;
        }
        .input-email{
            width: 370px;
            height: 61px;
            margin-bottom: 27px;
            outline: none;
            text-transform: capitalize;
            font-family: $font;
            font-size: 16px;
            color: $color;
            letter-spacing: 0.6px;
            padding-left: 10px;
        }
        textarea{
            width: 774px;
            height: 208px;
            margin-bottom: 30px;
            text-transform: capitalize;
            font-family: $font;
            font-size: 16px;
            line-height: 43px;
            color: $color;
            letter-spacing: 0.6px;
            padding-left: 10px;
            outline: none;
            resize: none;
        }
    }
    .send{
        font-family: $font;
        font-size: 16px;
        color: $color;
        letter-spacing: 0.6px;
        outline: none;
        background-color: #ffffff;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 55px;
        padding-left: 35px;
        padding-right: 50px;
        border: none;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 583px;
        margin-bottom: 57px;   
    }
    .send:after{
        font-family: 'icomoon';
        content: "\f1d8";
        color: $color; 
        position: absolute;
        right: 20px;
    }
        
    hr{
        margin-top: 100px;
        margin-bottom: 30px;
    }
    
    .facebook,
    .twitter,
    .linkedin,
    .google,
    .behance,
    .dribble {
        width: 28px;
        height: 28px;
        background-color: #ffffff;
        margin-right: 10px;
        float: left;
        position: relative;
        &:hover{
            background-color: #0985bf;
        }
    }
    .facebook{
        margin-left: 100px;
    }
    .facebook:before{
        font-family: 'icomoon';
        content: "\f09a";
        font-size: 18px;
        color: $color;
        position: absolute;
        left: 35%;
        top: 50%;
        transform: translateY(-50%);
    }
    .twitter:before{
        font-family: 'icomoon';
        content: "\f099";
        font-size: 18px;
        color: $color;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
    }
    .linkedin:before{
        font-family: 'icomoon';
        content: "\f0e1";
        font-size: 18px;
        color: $color;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
    }
    .google:before{
        font-family: 'icomoon';
        content: "\f0d5";
        font-size: 16px;
        color: $color;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
    }
    .behance:before{
        font-family: 'icomoon';
        content: "\f1b4";
        font-size: 16px;
        color: $color;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
    }
    .dribble:before{
        font-family: 'icomoon';
        content: "\f17d";
        font-size: 18px;
        color: $color;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
    }

    .rights{
        color: #ffffff;
        font-family: $font;
        font-size: 16px;
        line-height: 24px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    }
    .up{
        width: 45px;
        height: 41px;
        background-color: #ffffff;
        box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
        border: none;
        position: absolute;
        bottom: 195px;
        right: 50px;
    }

    .up::after{
        font-family: 'icomoon';
        content: "\f106";
        font-size: 24px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 20%;        
    }
}