.header {
    background-image: url(../img/head-background.png);
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        max-width: 1170px;
        
    }
}