* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #4d4d4d; }

.header {
  background-image: url(../img/head-background.png);
  min-height: 750px;
  background-repeat: no-repeat;
  background-size: cover; }
  .header .container {
    max-width: 1366px;
    padding-left: 98px;
    padding-right: 98px;
    position: relative;
    margin: 0 auto; }
    .header .container .logo_container {
      position: absolute;
      margin-top: 30px;
      text-align: center; }
      .header .container .logo_container .logo_title {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 1px;
        color: #111111; }
      .header .container .logo_container .logo_text {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 4px;
        letter-spacing: 2px;
        color: #111111; }
    .header .container .menu {
      float: right; }
      .header .container .menu li {
        display: inline-block;
        color: #4d4d4d;
        font-family: "Asap", sans-serif;
        line-height: 67px; }
        .header .container .menu li :hover {
          text-transform: capitalize;
          padding-bottom: 8px;
          border-bottom: 2px solid #4d4d4d; }
      .header .container .menu a {
        text-transform: uppercase;
        color: #4d4d4d; }
      .header .container .menu .menu-home {
        position: absolute;
        right: 500px; }
      .header .container .menu .menu-about {
        position: absolute;
        right: 400px; }
      .header .container .menu .menu-services {
        position: absolute;
        right: 292px; }
      .header .container .menu .menu-portfolio {
        position: absolute;
        right: 159px; }
      .header .container .menu .menu-contect {
        position: absolute;
        right: 40px; }
    .header .container .main-img {
      position: absolute;
      top: 100px;
      right: 0px;
      float: right; }
    .header .container .header_content {
      position: absolute;
      top: 265px; }
      .header .container .header_content .header_content_title {
        font-family: "Asap", sans-serif;
        font-weight: 500;
        line-height: 67px;
        font-size: 90px;
        color: #4d4d4d; }
      .header .container .header_content .header_content_text {
        font-family: "Asap", sans-serif;
        font-weight: 500;
        line-height: 67px;
        font-size: 22px;
        color: rgba(77, 77, 77, 0.541); }
      .header .container .header_content .btn-know {
        color: #4d4d4d;
        font-family: "Asap", sans-serif;
        font-size: 16px;
        line-height: 67px;
        letter-spacing: 0.6px;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 30px;
        padding-right: 30px;
        background-color: transparent;
        border: 1px solid #4d4d4d;
        margin-right: 20px;
        -webkit-box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
        outline: none;
        cursor: pointer; }
      .header .container .header_content .btn-know:hover {
        background-color: #ffffff;
        border: none; }
      .header .container .header_content .btn-hire {
        color: #4d4d4d;
        font-family: "Asap", sans-serif;
        font-size: 16px;
        line-height: 67px;
        letter-spacing: 0.6px;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 50px;
        padding-right: 50px;
        background-color: transparent;
        border: 1px solid #4d4d4d;
        margin-right: 20px;
        -webkit-box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
        outline: none;
        cursor: pointer; }
      .header .container .header_content .btn-hire:hover {
        background-color: #ffffff;
        border: none; }
    .header .container .go_bottom {
      width: 45px;
      height: 41px;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
      border: none;
      position: absolute;
      top: 620px; }
    .header .container .go_bottom::after {
      font-family: 'icomoon';
      content: "\f107";
      font-size: 24px;
      left: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%); }

.about {
  min-height: 677px; }
  .about .container .about_content {
    max-width: 470px;
    float: left;
    padding-top: 200px;
    margin-left: 98px;
    margin-right: 130px; }
    .about .container .about_content .about_title {
      max-width: 370px;
      font-family: "Asap", sans-serif;
      font-size: 46px;
      font-weight: 700;
      color: #4d4d4d;
      line-height: 49px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      position: relative; }
    .about .container .about_content .about_title::before {
      content: "";
      width: 70px;
      border-bottom: 4px solid #4d4d4d;
      position: absolute;
      top: -13px; }
    .about .container .about_content .about_text {
      font-family: "Asap", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #4d4d4d;
      line-height: 26px; }
    .about .container .about_content .cv {
      margin-top: 41px;
      color: #4d4d4d;
      font-family: "Asap", sans-serif;
      font-size: 16px;
      line-height: 67px;
      letter-spacing: 0.6px;
      font-weight: 700;
      text-transform: uppercase;
      padding-left: 50px;
      padding-right: 50px;
      background-color: #ffffff;
      border: 1px solid #4d4d4d;
      outline: none; }
  .about .container .about_img {
    position: absolute;
    right: 98px;
    top: 861px; }

.services {
  min-height: 693px;
  background-color: #f6f6f6; }
  .services .title {
    font-family: "Asap", sans-serif;
    font-size: 46px;
    line-height: 49px;
    letter-spacing: 1.2px;
    font-weight: 700;
    color: #4d4d4d;
    text-align: center;
    text-transform: uppercase;
    padding-top: 141px;
    margin-bottom: 70px;
    position: relative; }
  .services .title::before {
    content: "";
    width: 60px;
    border-bottom: 4px solid #4d4d4d;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 120px; }
  .services .row {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .services .row .col-3 {
      max-width: 200px;
      min-height: 200px;
      text-align: center;
      margin-left: 85px;
      margin-right: 85px;
      margin-bottom: 70px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      .services .row .col-3 .service-img {
        min-height: 100px;
        margin-bottom: 30px; }
      .services .row .col-3 .col-title {
        font-family: "Asap", sans-serif;
        font-size: 24px;
        line-height: 49px;
        font-weight: 500;
        color: #4d4d4d;
        text-align: center;
        text-transform: capitalize;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: end;
        align-self: flex-end;
        margin-bottom: 30px;
        text-align: center; }

.skills {
  min-height: 767px;
  position: relative; }
  .skills .skills_title {
    font-family: "Asap", sans-serif;
    font-size: 46px;
    line-height: 49px;
    letter-spacing: 1.2px;
    font-weight: 700;
    color: #4d4d4d;
    text-align: center;
    text-transform: uppercase;
    padding-top: 141px;
    margin-bottom: 70px;
    position: relative; }
  .skills .skills_title::before {
    content: "";
    width: 60px;
    border-bottom: 4px solid #4d4d4d;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 120px; }
  .skills .skills-img {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.portfolio {
  min-height: 1096px;
  background-color: #f6f6f6;
  position: relative; }
  .portfolio .container {
    max-width: 1366px;
    padding-left: 98px;
    padding-right: 98px;
    position: relative;
    margin: 0 auto; }
    .portfolio .container .portfolio_title {
      font-family: "Asap", sans-serif;
      font-size: 46px;
      line-height: 49px;
      letter-spacing: 1.2px;
      font-weight: 700;
      color: #4d4d4d;
      text-align: center;
      text-transform: uppercase;
      padding-top: 141px;
      margin-bottom: 70px;
      position: relative; }
    .portfolio .container .portfolio_title::before {
      content: "";
      width: 60px;
      border-bottom: 4px solid #4d4d4d;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 120px; }
    .portfolio .container .row {
      display: block; }
      .portfolio .container .row::after {
        content: "";
        clear: both; }
    .portfolio .container .col-3 {
      width: 33.333%;
      float: left;
      margin-bottom: 30px; }
    .portfolio .container .more {
      color: #4d4d4d;
      font-family: "Asap", sans-serif;
      font-size: 16px;
      line-height: 67px;
      letter-spacing: 0.6px;
      font-weight: 700;
      text-transform: uppercase;
      padding-left: 50px;
      padding-right: 50px;
      background-color: #ffffff;
      border: none;
      outline: none;
      cursor: pointer;
      -webkit-box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 960px;
      right: 43%; }

.testimonials {
  min-height: 1128px; }
  .testimonials .testimonials_title {
    font-family: "Asap", sans-serif;
    font-size: 46px;
    line-height: 49px;
    letter-spacing: 1.2px;
    font-weight: 700;
    color: #4d4d4d;
    text-align: center;
    text-transform: uppercase;
    padding-top: 141px;
    margin-bottom: 70px;
    position: relative; }
  .testimonials .testimonials_title::before {
    content: "";
    width: 60px;
    border-bottom: 4px solid #4d4d4d;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 120px; }
  .testimonials .slider_content {
    max-width: 955px;
    margin: 0 auto; }
  .testimonials .slider_content-item {
    max-width: 955px;
    min-height: 349px;
    border: 1px solid #4d4d4d;
    margin: 0 auto;
    position: relative; }
    .testimonials .slider_content-item .slider-img {
      position: absolute;
      top: 82px;
      left: 121px; }
    .testimonials .slider_content-item .slider_content-item_text {
      max-width: 580px;
      position: absolute;
      top: 82px;
      right: 71px; }
      .testimonials .slider_content-item .slider_content-item_text .name {
        font-family: "Asap", sans-serif;
        color: #4d4d4d;
        font-size: 30px;
        font-weight: 500; }
      .testimonials .slider_content-item .slider_content-item_text .position {
        font-family: "Asap", sans-serif;
        color: #4d4d4d;
        font-size: 12px;
        line-height: 29px;
        font-style: italic; }
      .testimonials .slider_content-item .slider_content-item_text .slider_content_text {
        font-family: "Asap", sans-serif;
        color: rgba(77, 77, 77, 0.541);
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        text-transform: uppercase; }
  .testimonials .slider .slick-dots {
    position: absolute;
    top: 290px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .testimonials .slider .slick-dots li {
      display: inline-block;
      margin-left: 2px;
      margin-right: 2px; }
      .testimonials .slider .slick-dots li .slick-active {
        background-color: #111111; }
      .testimonials .slider .slick-dots li button {
        font-size: 0;
        width: 13px;
        height: 13px;
        background-color: #ffffff;
        padding: 0;
        border: 1px solid #111111;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        outline: none; }
  .testimonials .slider .slick-dots li.slick-active button {
    background-color: #111111; }
  .testimonials .smth {
    background-color: #f6f6f6;
    min-height: 302px;
    margin-top: 102px;
    margin-bottom: 155px; }
  .testimonials .col-4 {
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 54px; }
    .testimonials .col-4 .smth-img {
      min-height: 100px;
      margin-bottom: 12px; }
    .testimonials .col-4 .number {
      font-family: "Asap", sans-serif;
      color: #4d4d4d;
      font-size: 32px;
      line-height: 46px;
      font-weight: 500; }
    .testimonials .col-4 .smth-text {
      font-family: "Asap", sans-serif;
      color: #4d4d4d;
      font-size: 32px;
      line-height: 46px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 60px; }

.hello {
  min-height: 784px;
  background-image: url(../img/form-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .hello .hello-title {
    font-family: "Asap", sans-serif;
    font-size: 46px;
    line-height: 49px;
    letter-spacing: 1.2px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 141px;
    margin-bottom: 70px;
    position: relative; }
  .hello .hello-title::before {
    content: "";
    width: 60px;
    border-bottom: 4px solid #ffffff;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 120px; }
  .hello form {
    margin: 0 auto;
    max-width: 786px; }
    .hello form .input-name {
      width: 370px;
      height: 61px;
      margin-right: 30px;
      margin-bottom: 27px;
      outline: none;
      text-transform: capitalize;
      font-family: "Asap", sans-serif;
      font-size: 16px;
      color: #4d4d4d;
      letter-spacing: 0.6px;
      padding-left: 10px; }
    .hello form .input-email {
      width: 370px;
      height: 61px;
      margin-bottom: 27px;
      outline: none;
      text-transform: capitalize;
      font-family: "Asap", sans-serif;
      font-size: 16px;
      color: #4d4d4d;
      letter-spacing: 0.6px;
      padding-left: 10px; }
    .hello form textarea {
      width: 774px;
      height: 208px;
      margin-bottom: 30px;
      text-transform: capitalize;
      font-family: "Asap", sans-serif;
      font-size: 16px;
      line-height: 43px;
      color: #4d4d4d;
      letter-spacing: 0.6px;
      padding-left: 10px;
      outline: none;
      resize: none; }
  .hello .send {
    font-family: "Asap", sans-serif;
    font-size: 16px;
    color: #4d4d4d;
    letter-spacing: 0.6px;
    outline: none;
    background-color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 55px;
    padding-left: 35px;
    padding-right: 50px;
    border: none;
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    top: 583px;
    margin-bottom: 57px; }
  .hello .send:after {
    font-family: 'icomoon';
    content: "\f1d8";
    color: #4d4d4d;
    position: absolute;
    right: 20px; }
  .hello hr {
    margin-top: 100px;
    margin-bottom: 30px; }
  .hello .facebook,
  .hello .twitter,
  .hello .linkedin,
  .hello .google,
  .hello .behance,
  .hello .dribble {
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    margin-right: 10px;
    float: left;
    position: relative; }
    .hello .facebook:hover,
    .hello .twitter:hover,
    .hello .linkedin:hover,
    .hello .google:hover,
    .hello .behance:hover,
    .hello .dribble:hover {
      background-color: #0985bf; }
  .hello .facebook {
    margin-left: 100px; }
  .hello .facebook:before {
    font-family: 'icomoon';
    content: "\f09a";
    font-size: 18px;
    color: #4d4d4d;
    position: absolute;
    left: 35%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .hello .twitter:before {
    font-family: 'icomoon';
    content: "\f099";
    font-size: 18px;
    color: #4d4d4d;
    position: absolute;
    left: 20%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .hello .linkedin:before {
    font-family: 'icomoon';
    content: "\f0e1";
    font-size: 18px;
    color: #4d4d4d;
    position: absolute;
    left: 20%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .hello .google:before {
    font-family: 'icomoon';
    content: "\f0d5";
    font-size: 16px;
    color: #4d4d4d;
    position: absolute;
    left: 20%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .hello .behance:before {
    font-family: 'icomoon';
    content: "\f1b4";
    font-size: 16px;
    color: #4d4d4d;
    position: absolute;
    left: 20%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .hello .dribble:before {
    font-family: 'icomoon';
    content: "\f17d";
    font-size: 18px;
    color: #4d4d4d;
    position: absolute;
    left: 20%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .hello .rights {
    color: #ffffff;
    font-family: "Asap", sans-serif;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%); }
  .hello .up {
    width: 45px;
    height: 41px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
    border: none;
    position: absolute;
    bottom: 195px;
    right: 50px; }
  .hello .up::after {
    font-family: 'icomoon';
    content: "\f106";
    font-size: 24px;
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    top: 20%; }
